body{
    background-color: white;
    font-family: 'Epilogue', sans-serif;

    
}
.one{
    display: flex;
    
}
a{
    text-decoration: none;
    color: black;
}
.header_list{
    list-style: none;
    padding: 0px 20px 0 20px;
    font-weight: bold;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} 
.head2{
    padding-left: 800px;
   

}

.mainFirst{
    display: flex;
    align-items: center;
    
}
.main{
    display: flex;
    align-items: center;
}
.main2{
    display: flex;
    justify-content: space-around;
}
.desk{
    height: 80vh;
    padding: 50px;
}
.heading{
    font-size: 10vh;
    margin: 0;
    
}
.para{
    font-size: 18px;;
   padding-top: 40px;
   padding-bottom:40px;
}
.learn{
    background-color: transparent;
    font-size: 4vh;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
     
}
.part1{
    padding: 50px;
}
.btn{
    padding-top: 40px;
    padding-bottom: 40px;
}
.last_img{
    padding-top: 30px;
}
.btm_img{
    padding: 10px;
}
.btn1{
    background-color: transparent;
    font-size: 2vh;
    border-style: none;

    padding: 10px;
}
.btn1:hover{
    color:white;
    background-color: rgb(235, 242, 33);
    border-radius: 10px;
}
.btn2{
    background-color: transparent;
    border-radius:  10px;
    font-size: 2vh;
    padding: 10px;
}
.btn2:hover{
    background-color: rgb(235, 242, 33);
    color: white;
}