body{
    background-color: white;
    font-family: 'Epilogue', sans-serif;

    
}
.one{
    display: flex;
    
}
a{
    text-decoration: none;
    color: black;
}
.header_list{
    list-style: none;
    padding: 0px 20px 0 20px;
    font-weight: bold;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} 
.head2{
    padding-left: 800px;
   

}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainFirst{
    display: flex;
    align-items: center;
    
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p1,.p2{
   display: flex;
}
.main2{
    display: flex;
    justify-content: space-around;
}
.desk{
    height: 80vh;
    padding: 50px;
}
.heading{
    font-size: 10vh;
    margin: 0;
    
}
.para{
    font-size: 18px;;
   padding-top: 40px;
   padding-bottom:40px;
}
.learn{
    background-color: transparent;
    font-size: 4vh;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
     
}
.part1{
    padding: 50px;
}
.btn{
    padding-top: 40px;
    padding-bottom: 40px;
}
.last_img{
    padding-top: 30px;
}
.btm_img{
    padding: 10px;
}
.btn1{
    background-color: transparent;
    font-size: 2vh;
    border-style: none;
   
}
.btn1:hover{
    color:white;
    background-color: rgb(235, 242, 33);
    border-radius: 10px;
}
.btn2{
    background-color: transparent;
    border-radius:  10px;
    font-size: 2vh;
    padding: 10px;
}
.btn2:hover{
    background-color: rgb(235, 242, 33);
    color: white;
}
.courses{
    background-color: white
}
.dropdown_button {
    background-color: white;
    color: black;
   
    font-weight: bold;
    font-size:2.2vh;
    font-family: 'Epilogue', sans-serif;
    cursor: pointer;
   
    
    border: 1px solid #ffffff;
}
.courses {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: fit-content;
}
.courses li a {
    text-decoration: none;
    color:black;
    display: block;
    padding: 10px;
}

.courses li:hover {
    background-color: #0979ad;
    color: white;
}
.innerList{
    text-decoration: none;
    

}
li{
    list-style:none ;
}
.smallImg{
    padding-right:5px;
}
